body {
  background-color: var(--primary-bg);
  color: var(--secondary-text);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

* {
  font-family: inherit;
  font-size: var(--primary-font);
}

main {
  display: flex;
  min-height: 70vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: var(--secondary-text);
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--primary-bg);
  gap: 1.4rem;
  padding: 1rem auto;
}